doctype html
html
  head
    title LOVLOG NODE
  body
    h1 LovLog app
    p
      | Dokumentacija
    a(href="/clani/") Vsi clani
    br
    a(href="/lovske_druzine/") Vse lovske družine
    br
    a(href="/aktivnosti/") Vse aktivnosti